<header>DOM Events</header>
<section>
  <div class="container">
    <div class="event">
      <h3>Click Event</h3>
      <button (click)="click()" class="field">Click Me</button>
      <br>
      <p>You Have clicked {{clickCounter}} times.</p>
    </div>
  </div>

  <div class="container">
    <div class="event">
      <h3>Double Click Event</h3>
      <button (dblclick)="dblclick()" class="field">Double Click Me</button>
      <br>
      <p>You Have Double clicked {{dblclickCounter}} times.</p>
    </div>
  </div>

  <div class="container">
    <div class="event">
      <h3>Blur Event</h3>
      <input (blur)="blur()" type="text" class="field" />
      <br>
      <p>{{blr}}</p>
    </div>
  </div>

  <div class="container">
    <div class="event">
      <h3>Focus Event</h3>
      <input (focus)="focus()" type="text" class="field" />
      <br>
      <p>{{fcs}}</p>
    </div>
  </div>

  <div class="container">
    <div class="event">
      <h3>Scroll Event</h3>
      <textarea (scroll)="scroll()" name="scroll" rows="3">
    ProGrad program is a coding bootcamp conducted by FacePrep which helps you master the most in-demand Tech Industry skills with placement assistance to get into top MNC's.
   </textarea>
      <br>
      <p>{{scl}}</p>
    </div>
  </div>
</section>


<hr>
<h2 style="padding: 20px 0px 20px 10px;">Angular Pipes</h2>
<div class="pipe">

  <div class="container1">
    <div class="event">
      <h3>Pipes-Uppercase & LowerCase</h3>
      <input class="field" type="text" (ngModel)="name" #names>
      <button class="field" (click)="pipes(names.value)">Submit</button>
      <h4>UpperCase</h4>
      <p>{{name | uppercase}}</p>
      <h4>Lowercase</h4>
      <p>{{name | lowercase}}</p>
    </div>
  </div>


  <div class="container1">
    <div class="event">
      <h3>Pipes-Currency</h3>
      <input class="field" type="text" (ngModel)="number" #currency>
      <button class="field" (click)="Number(currency.value)">Submit</button>
      <h4>Rupees</h4>
      <p>{{number | currency: "INR"}}</p>
      <h4>US Dollars</h4>
      <p>{{number | currency: "USD"}}</p>
      <h4>EURO</h4>
      <p>{{number | currency: "EUR"}}</p>
    </div>
  </div>


  <div class="container1">
    <div class="event">
      <h3>Dates-Pipe</h3>
      <!-- <input class="field" type="text" (ngModel)="name" #names> -->
      <button class="field" (click)="date()">Submit</button>
      <h4>Current Date</h4>
      <p>{{currentDate | date:'fullDate'}}</p>
      <h4>Medium</h4>
      <p>{{currentDate | date:'medium'}}</p>
      <h4>Short</h4>
      <p>{{currentDate | date:'short'}}</p>
      <h4>Month</h4>
      <p>{{currentDate | date:'MM'}}</p>
    </div>
  </div>


</div>
